## Import the necessary libraries

In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler , MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score , mean_squared_error

## 1. Data explorations

### Read data from csv file into Pandas dataframe

In [42]:
df_job_raw = pd.read_csv('salary.csv')

### How many rows (observations) and columns (attributes) does the data have?

In [43]:
num_rows, num_cols = df_job_raw.shape
num_rows, num_cols

(1200, 13)

### What do the columns in the data mean?

In [44]:
df_job_raw.head()

,java,nodejs,reactjs,ruby,android,ios,php,python,c++,golang,angular,level,salary
0,1,0,0,0,0,0,0,0,0,0,0,fresher,"1,000 - 2,000 USD"
1,1,0,1,0,0,0,0,0,0,0,0,fresher,You'll love it
2,1,0,0,0,0,0,0,1,0,0,0,fresher,You'll love it
3,1,0,0,0,0,0,0,0,0,0,0,fresher,"1,000 - 2,500 USD"
4,1,0,0,0,1,0,0,0,0,0,0,fresher,Up to 2.000 $

In [45]:
columns = df_job_raw.columns
columns

Index(['java', 'nodejs', 'reactjs', 'ruby', 'android', 'ios', 'php', 'python',
       'c++', 'golang', 'angular', 'level', 'salary'],
      dtype='object')

*With 11 columns : java, nodejs ... angular: 1 as in this job have this skill, 0 as in this job dont have this skill*  
* **java**: one of skills (programming langues or the enviroment to devolop) we have in dataset
* **nodejs**:  one of skills (programming langues or the enviroment to devolop) we have in dataset
* **reactjs**: one of skills (programming langues or the enviroment to devolop) we have in dataset 
* **ruby**:  one of skills (programming langues or the enviroment to devolop) we have in dataset
* **android**:  one of skills (programming langues or the enviroment to devolop) we have in dataset
* **ios**: one of skills (programming langues or the enviroment to devolop) we have in dataset
* **php**:  one of skills (programming langues or the enviroment to devolop) we have in dataset
* **python**: one of skills (programming langues or the enviroment to devolop) we have in dataset
* **c++**: one of skills (programming langues or the enviroment to devolop) we have in dataset
* **golang**: one of skills (programming langues or the enviroment to devolop) we have in dataset
* **angular**: one of skills (programming langues or the enviroment to devolop) we have in dataset
* **level**: this is experience of IT job
* **salary**: this is the salary offer of an IT job

### Are there any duplicate rows in the data?

In [46]:
num_duplicate_data = df_job_raw.duplicated().sum()
num_duplicate_data

679

**Delete all the rows which is duplicated**

In [47]:
df_job = df_job_raw.drop_duplicates()

In [48]:
df_job

,java,nodejs,reactjs,ruby,android,ios,php,python,c++,golang,angular,level,salary
0,1,0,0,0,0,0,0,0,0,0,0,fresher,"1,000 - 2,000 USD"
1,1,0,1,0,0,0,0,0,0,0,0,fresher,You'll love it
2,1,0,0,0,0,0,0,1,0,0,0,fresher,You'll love it
3,1,0,0,0,0,0,0,0,0,0,0,fresher,"1,000 - 2,500 USD"
4,1,0,0,0,1,0,0,0,0,0,0,fresher,Up to 2.000 $
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,0,0,0,0,0,0,0,0,0,0,1,senior,"1,000 - 3,000 USD"
1193,0,0,0,0,0,0,0,0,0,0,1,senior,25 m -55 m
1194,0,0,0,0,0,0,0,0,0,0,1,senior,"2,000 - 4,000 dollar úc"
1195,0,0,0,0,0,0,0,0,0,0,1,senior,"1,000 - 2,500 USD"
1198,0,0,0,0,0,0,0,0,0,0,1,senior,"2,000 - 2,900 USD"

**Print all the diff values that the dataset have**

In [49]:
df_job['salary'].unique()

array(['1,000 - 2,000 USD', "You'll love it", '1,000 - 2,500 USD',
       'Up to 2.000 $', '500 - 2,500 USD', 'Up to $3,000',
       '500 - 1,000 USD', '1,000 - 1,500 USD', 'Very attractive',
       '800 - 2,000 USD', 'Very attractive ', '1,500 - 1,800 USD',
       'Upto 2000$', 'Negotiable', 'Attractive salary',
       '1,000 - 3,500 USD', 'Up to 50 mil', '1,000 - 1,300 USD',
       'You will love it ', 'Up to 3500$', '800 - 2,500 USD',
       '40mil-60mil (gross)', '800 - 900 USD', '1,700 - 3,000 USD',
       '1,000 - 3,000 USD', 'Very competitive salary!',
       '1,200 - 1,700 USD', "Let's negotiate together!",
       'Very attractive!!!', '1,000 - 2,400 USD', '15 – 35m', '20 - 50m',
       '~$1500', '3,000 - 4,000 USD', '2,000 - 5,000 USD',
       '1,800 - 3,000 USD', '10m - 40m', 'Up to 30m', '1,000 - 1,800 USD',
       'Up to $2500', '500 - 2,000 USD', 'Competitive salary',
       'Up to $2100', '600 - 2,000 USD', '700 - 2,000 USD', 'Up to $3000',
       '650 - 3,000 USD', '2,000 - 2,500 USD', 'Plus sign on bonus',
       '2,000 - 3,200 USD', '2,000 - 3,000 USD', '2,500 - 3,500 USD',
       '2,000 - 3,500 USD', '1,500 - 2,600 USD', '1,800 - 2,500 USD',
       'Let us tell you', '1,500 - 3,000 USD', '1,400 - 2,000 USD',
       '1,500 - 3,500 USD', 'Up to 2400$', '1,500 - 2,500 USD',
       '1,200 - 2,500 USD', 'Up to 3,000 usd', '3,000 - 5,000 USD',
       '1,500 - 2,000 USD', '1,200 - 3,000 USD', '2,300 - 2,800 USD',
       'Negotiation', '1,300 - 1,700 USD', '1,000 - 1,200 USD',
       '1,000 - 1,700 USD', '900 - 2,500 USD', 'Up to $2000',
       '1,500 - 4,000 USD', 'Up to $1500', '700 - 1,500 USD',
       'Up to $1000', '3,000 - 6,000 USD', '700 - 2,200 USD',
       '1,300 - 2,400 USD', '2,000 - 3,300 USD', 'Min 870$',
       'Up to 2000$ ', '1,000 - 2,900 USD', 'Super attractive',
       'Up to $1400', '4,000 - 5,000 USD', 'Negotiable ',
       '800 - 1,800 USD', '800 - 1,600 USD', '600 - 1,500 USD',
       '1,200 - 2,000 USD', 'Up to 800$', 'Upto 2100$', '800 - 1,500 USD',
       'Up to 1200$', 'Upto 3500$', '20m - 40m', 'Cạnh tranh !',
       '560 - 740 USD', 'Upto $1800', 'You will love it',
       "You'll love it ", '2,200 - 2,600 USD', '2,000 - 4,000 USD',
       '3,000 - 4,500 USD', 'Up to 2000', '800 - 3,500 USD', 'Upto 1200$',
       '2,500 - 4,500 USD', '500 - 1,800 USD', 'Up to 1500$',
       '900 - 1,500 USD', '800 - 1,700 USD', 'Negoti', '20 – 36 gross',
       '2,500 - 4,000 USD', '500 - 1,500 USD', '500 - 1,200 USD',
       '500 - 3,000 USD', '700 - 1,200 USD', 'Negotiate',
       '15 - 20m + bonus', 'Up to 1000$', '500 - 900 USD', '15tr - 20tr',
       'Thỏa thuận', '700 - 1,700 USD', '1,900 - 2,100 USD', '25 - 35m',
       '2,300 - 3,000 USD', '25tr - 40tr', 'Up to 1.200$',
       '2,000 - 4,500 USD', '2,500 - 2,800 USD', 'Up to $1700',
       '45.000.000 - 65.000.000', '600$ - 1500$', 'Up to 22m',
       'Negotiated', '1,700 - 2,500 USD', '2,500 - 3,200 USD',
       '900 - 2,000 USD', '700 - 2,500 USD', '1,800 - 2,800 USD',
       'Attractive salary!', 'Up to $2500 + bonus', '12m - 40m',
       '700 - 1,600 USD', 'Negotiation base on skill', '25 m -55 m',
       '2,000 - 4,000 dollar úc', 'Up to 60m gross', '2,000 - 2,900 USD'],
      dtype=object)

In [50]:
df_job['level'].unique()

array(['fresher', 'junior', 'senior'], dtype=object)

**Because we have many different values in atribute name *salary* so in the next step we just accept 
the values have number**

### Proccessing

In [51]:
import re

def proccessing(jds):
    result = []
    for i in range(len(jds)):        
        job_description = jds[i][12]
        
        # lower case and delted all trailing whitespace 
    
        job_description = "".join(job_description.split()).lower()
        
        if job_description.find("upto") == 0:
            upto_salry = calculate_unit_salary(job_description.split("upto")[1])
            average = float(upto_salry) / 2
            jds[i][12] = average
            
            result.append(jds[i])
        else:
            range_salary = job_description.split("-")
            
            if len(range_salary) == 2:
                min_salary = calculate_unit_salary(range_salary[0])
                max_salary = calculate_unit_salary(range_salary[1])
                average = (float(min_salary) + float(max_salary)) / 2
                          
                jds[i][12] = average

                
                result.append(jds[i])
        
    return result


def calculate_unit_salary(salary):    
    salary_without_unit = salary.replace("usd", "").replace("$", "").replace(",", "").replace(".", "")
        
    # for in case salary dont pay with USD 
    
    salary_only_number = re.findall('[0-9]+', salary_without_unit)[0]
    
    if len(salary_only_number) != len(salary_without_unit) and len(salary_only_number) == 2:
        salary_without_unit = int(salary_only_number + "000000") * 0.000042
        return salary_without_unit
    if len(salary_only_number) >= 6:
        salary_without_unit = int(salary_only_number) * 0.000042
        return salary_without_unit
    else:
        return salary_only_number

In [52]:
range_salary = proccessing(df_job.values)

In [53]:
range_salary = np.asarray(range_salary)

In [54]:
df_job = pd.DataFrame(range_salary, columns = ['java', 'nodejs', 'reactjs', 'ruby', 'android', 'ios', 'php', 'python', 'c++', 'golang', 'angular', 'level', 'average_salary'])

**Print new datafame**

In [55]:
df_job

,java,nodejs,reactjs,ruby,android,ios,php,python,c++,golang,angular,level,average_salary
0,1,0,0,0,0,0,0,0,0,0,0,fresher,1500.0
1,1,0,0,0,0,0,0,0,0,0,0,fresher,1750.0
2,1,0,0,0,1,0,0,0,0,0,0,fresher,1000.0
3,1,0,0,0,0,0,0,0,0,0,0,fresher,1500.0
4,1,0,0,0,0,0,0,0,0,0,1,fresher,1500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,0,0,0,0,0,0,0,0,0,0,1,senior,2000.0
373,0,0,0,0,0,0,0,0,0,0,1,senior,1680.0
374,0,0,0,0,0,0,0,0,0,0,1,senior,3000.0
375,0,0,0,0,0,0,0,0,0,0,1,senior,1750.0
376,0,0,0,0,0,0,0,0,0,0,1,senior,2450.0

### What data type does each column currently have? Is there a column with a data type that is not suitable for further processing?

In [56]:
def open_object_dtype(s):
    dtypes = set()
    
    func = lambda e: dtypes.add(type(e))
    s.apply(func)
    
    return dtypes

In [57]:
df_job_column = df_job.columns.to_list() 
for col in df_job_column:
    print(f'{col:<20}', open_object_dtype(df_job[col]))

java                 {<class 'int'>}
nodejs               {<class 'int'>}
reactjs              {<class 'int'>}
ruby                 {<class 'int'>}
android              {<class 'int'>}
ios                  {<class 'int'>}
php                  {<class 'int'>}
python               {<class 'int'>}
c++                  {<class 'int'>}
golang               {<class 'int'>}
angular              {<class 'int'>}
level                {<class 'str'>}
average_salary       {<class 'float'>}

In [58]:
dtypes = df_job.dtypes
dtypes

java              object
nodejs            object
reactjs           object
ruby              object
android           object
ios               object
php               object
python            object
c++               object
golang            object
angular           object
level             object
average_salary    object
dtype: object

### Datafame's data shortage statistics

In [71]:
df_job.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   average_salary  377 non-null    float64
dtypes: float64(1)
memory usage: 3.1 KB

**Print all null value that all attributes have**

In [60]:
null_columns = df_job.isnull().sum()
null_columns

java              0
nodejs            0
reactjs           0
ruby              0
android           0
ios               0
php               0
python            0
c++               0
golang            0
angular           0
level             0
average_salary    0
dtype: int64

### With column about salary, how are values distributed?

In [61]:
df_job['average_salary'] = df_job.average_salary.astype(float)
df_job = df_job[["average_salary"]]

def missing_ratio(col):
    return (100 * col.isna().sum() / len(col)).round(1)

def lower_quartile(col):
    return col.quantile(0.25).round(1)

def median(col):
    return col.quantile(0.5).round(1)

def upper_quartile(col):
    return col.quantile(0.75).round(1)

nume_col_info_df = df_job.agg(
    [
        missing_ratio, 
        min, lower_quartile, 
        median, 
        upper_quartile, 
        max]
    ).round(1)

nume_col_info_df

                average_salary
missing_ratio              0.0
min                      400.0
lower_quartile          1150.0
median                  1500.0
upper_quartile          2000.0
max                     4500.0

### With column about level, how are values distributed?

In [ ]:
df_job = df_job[["level"]]

def missing_ratio(col):
    return (100 * col.isna().sum() / len(col)).round(1)

def num_values(col):
    return len(col.explode().value_counts().to_dict())

def value_percentages(col):
    return (col.explode().value_counts(normalize = True) * 100).round(1).to_dict()

cate_col_info_df = df.agg([missing_ratio, num_values, value_percentages]).round(1)

cate_col_info_df

## 2. Ask a meaningful question that needs answering

* Question 1: Compare the ratio of the employer's experience requirement
* Question 2: Top 5 most popular skills
* Question 3: Top 5 skills with the highest average salary 
* Question 4: Average salary of each level ? 
* Question 5: For each skill, how will the levels be distributed?
* Question 6: What is the average salary of each skill for each level?

## Analyzing data to find the answer for each question

### Question 1: Compare the ratio of the employer's experience requirement

In [ ]:
plt.figure(figsize=(8, 5))
plt.title('Employer experience', fontsize=15)
plt.pie(df_job['level'].value_counts(), 
        labels=df_job['level'].value_counts().keys(),
        textprops={"fontsize":10},
        radius=1.1, startangle=90,
        colors=['#af0055', '#D05C9C'],
        autopct='%.1f%%')
plt.show()

**COMMENT:**

**MEANING:**

### Question 2: Top 5 most popular skills

In [ ]:
java_count = df_job["java"].value_counts()
nodejs_count = df_job["nodejs"].value_counts() 
reactjs_count = df_job["reactjs"].value_counts()
ruby_count = df_job["ruby"].value_counts()
android_count = df_job["android"].value_counts()
ios_count = df_job["ios"].value_counts()
php_count = df_job["php"].value_counts()
python_count = df_job["python"].value_counts()
c_count = df_job["c++"].value_counts()
golang_count = df_job["golang"].value_counts()
angular_count = df_job["angular"].value_counts()

**COMMENT:**

**MEANING:**

### Question 3: Top 5 skills with the highest average salary

**COMMENT:**

**MEANING:**

### Question 4: Average salary of each level ?

In [ ]:
salary_fresher = df_job[df_job["level"] == 'fresher']["average_salary"].mean()
salary_junior = df_job[df_job["level"] == 'junior']["average_salary"].mean()
salary_senior = df_job[df_job["reactjs"] == 'senior']["average_salary"].mean()

In [ ]:
data = {'fresher': salary_fresher, 'junior': salary_junior, 'senior': salary_senior}
courses = list(data.keys())
values = list(data.values())
fig = plt.figure(figsize = (10, 5))
 
# creating the bar plot
plt.bar(courses, values, color ='maroon',
        width = 0.4)
 
plt.xlabel("Skills")
plt.ylabel("Offer (USD)")
plt.title("Average salary")
plt.show()

**COMMENT:**

**MEANING:**

### Question 5: For each skill, how will the levels be distributed?

**COMMENT:**

**MEANING:**

### Question 6: What is the average salary of each skill for "fresher" level?

In [ ]:
java_fresher = df_job[df_job["java"] == 1]["average_salary"].mean()
node_fresher = df_job[df_job["nodejs"] == 1]["average_salary"].mean()
react_fresher = df_job[df_job["reactjs"] == 1]["average_salary"].mean()
ruby_fresher = df_job[df_job["ruby"] == 1]["average_salary"].mean()
android_fresher = df_job[df_job["android"] == 1]["average_salary"].mean()
ios_fresher = df_job[df_job["ios"] == 1]["average_salary"].mean()
php_fresher = df_job[df_job["php"] == 1]["average_salary"].mean()
python_fresher = df_job[df_job["python"] == 1]["average_salary"].mean()
c_fresher = df_job[df_job["c++"] == 1]["average_salary"].mean()
golang_fresher = df_job[df_job["golang"] == 1]["average_salary"].mean()
angular_fresher = df_job[df_job["angular"] == 1]["average_salary"].mean()

In [ ]:
# Average salary for fresher
data = {'java': java_fresher, 'node': node_fresher, 'react': react_fresher,
        'ruby': ruby_fresher, 'android': android_fresher, 'ios': ios_fresher, 'php': php_fresher, "c++": c_fresher,
       'python': python_fresher, 'golang': golang_fresher, 'angular': angular_fresher }
courses = list(data.keys())
values = list(data.values())
  
fig = plt.figure(figsize = (10, 5))

 
# creating the bar plot
plt.bar(courses, values, color ='maroon',
        width = 0.4)
 
plt.xlabel("Skills")
plt.ylabel("Offer (USD)")
plt.title("Average salary for fresher")
plt.show()

**COMMENT:**

**MEANING:**

## 3. Salary prediction

### Select group X and Y

In [ ]:
X = df_job[['java', 'nodejs', 'reactjs', 'ruby', 'android', 'ios', 'php', 'python', 'c++', 'golang', 'angular']]
Y = df_job[["average_salary"]]

### Predict model function

In [89]:
def predict_model(x, y):
    
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

    mlr = LinearRegression()  
    mlr.fit(x_train, y_train)

    print("Intercept: ", mlr.intercept_)
    print("Coefficients:", mlr.coef_)

### Calculate the intercept and coefficients of model

In [90]:
predict =  predict_model(X, Y)

Intercept:  [1467.49238801]
Coefficients: [[ 240.88917388  342.30430296  134.18099641  220.1368476  -194.610438
    52.1545081  -181.68988268  278.80865393   96.16982494  163.67663735
    63.4684483 ]]

In [95]:
def predict_specific_salary_base(java, node, react, ruby, android, ios, php, python, golang, angular):
    return 1467.49238801 
    + (240.88917388)*java 
    + (342.30430296)*node
    + (134.18099641)*react 
    + (220.1368476)*ruby 
    + (-194.610438)*android 
    + (52.1545081)*ios 
    + (-181.68988268)*php
    + (278.80865393)*python 
    + (96.16982494)*golang 
    + (96.16982494)*angular

### Prediction test in practice

In [96]:
# Student has this skills (java, php, react) 
predict_specific_salary_base(1, 0, 1, 0, 0, 0, 1, 0, 0, 0)

1467.49238801